/*--------------------------------------------------------------
## 404
--------------------------------------------------------------*/
@import "404";

/*--------------------------------------------------------------
## All
--------------------------------------------------------------*/
.page-banner {
  figure {
    margin: 0;
    max-width: 100%;

    img {
      width: 100%;
    }
  }
}